.header {
  height: 200px;
  width: 800px;
  margin: auto;
  background-size: 800px;
  background-image: url('https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png');
  font-family: 'Nunito Sans', sans-serif;
  color: #222;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 0px;
  line-height: 40px;
  font-size: 40px;
}

.introduction {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 600px;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.quote {
  margin: auto;
  background-color: grey;
  color: white;
  width: 600px;
  height: 150px;
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  padding-top: 25px;
}

.mark {
  position: absolute;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
  margin-left: 30px;
  margin-top: -10px;
}

hr {
  height: 5px;
  background-color: black;
  width: 800px;
}

