@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans+Linear+B&family=Nunito+Sans:wght@500&family=Signika:wght@500&display=swap');

nav {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 87vw;

    margin-top: 0vh;
    margin-left: -3vw;
    padding-left: 8vw;
    padding-right: 8vw;

    background-color: #333333;
}

a {
    float: right;
    margin-top: 2.5vh;
    margin-right: 3vw;

    color: #ff0099;
    font-size: 3vh;
}

#pic {
    margin-top: 2vh;
}

div {
    font-family: Consolas;

    /*font-family: 'Noto Sans Linear B', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Signika', sans-serif;*/
}

#name {
    margin-top: 20vh;
    font-size: 8vh;
}

#title {
    margin-top: 2vh;

    font-size: 2.5vw;
    color: #ff0099;
    font-weight: bold;

    font-family: 'Noto Sans Linear B', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Signika', sans-serif;
}

#description {
    margin-top: 3vh;
    font-size: 1.5vw;
}

#main {
    padding-left: 10%;
    padding-right: 10%;
}

hr {
    margin-top: 14vh;
    
    width: 12vw;
    height: 2px;

    border: none;
    background: repeating-linear-gradient(90deg, black, black 2vw, transparent 2vw, transparent 4vw);
}

#wiki_title {
    text-align: center;
    margin-top: 12vh;

    font-size: 2.5vw;
    font-weight: bold;

    font-family: 'Noto Sans Linear B', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Signika', sans-serif;
}

.wiki_subtitle {
    margin-top: 4vh;
    font-size: 2vw;
    font-weight: bold;
}

.wiki_text {
    margin-top: 2vh;
    font-size: 1.3vw;
}