.header {
  width: 100%;
  height: 70px;
  background-color: purple;
  margin: 0px;
  position: fixed;
  display: flex;
}

.element {
  width: 150px;
  height: 35px;
  background-color: cyan;
  margin: 15px;
}

.container {
  display: flex;
}

.lime {
  flex: 1;
  height: 500px;
  background-color: lime;
  margin-left: 100px;
}

.yellow {
  flex: 4;
  height: 500px;
  background-color: yellow;
  margin-right: 100px;
}

.grey {
  background-color: lightgrey;
  height: 80px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}